<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Lists</title>
</head>

<body>
    <h1>Students list</h1>
    <table border="1" width="100%">
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone No</th>
        </tr>

        <% if(students.length> 0 ) { %>

            <% for(var i=0 ; i < students.length ; i++){ %>
                <tr>
                    <td><%- students[i].id %></td>
                    <td><%- students[i].name %></td>
                    <td><%- students[i].email %></td>
                    <td><%- students[i].phone %></td>
                </tr>
                <% } %>
                    <% }else{ %>
                        <h1>Students Data not found!</h1>
                        <% } %>

    </table>
</body>

</html>